.app_container {
  background: #fff;
}

.card_container {
    max-height: initial;
    margin: 2rem 10rem;
    position: relative;
}
.card-details {
  flex-wrap: wrap;
  width: 100%;
  display: flex;
}
.action-bar {
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 0px 0px #00000040, 0 5px 5px #00000038;
}
.filter-button{
  margin-left: 12rem;
  padding: 1rem 5rem;
  border: 1px solid #efefef;
  border-radius: 0.1rem;
  font-size: larger;
}
.filter-button:hover{
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

}