
.action-container{
  background: #fafad2;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 4.5rem 1rem 1.5rem 1rem;
  display: flex;
}
.card-container {
  max-height: initial;
  flex-wrap: wrap;
  padding: 1rem 1rem;
  display: flex;
  position: relative;
}

.top-rated-button{
  padding: 0rem 10rem;
}
.search-product{
  padding: 0rem 10rem;


}




@media only screen and (max-width: 600px) {
  body {
    background: #efefefef;
  }
  .main-container{
    padding: "2rem 1rem";
    margin: "5rem 1rem 2rem";
  }

  .top-rated-button{
    padding: 0 0rem;
    }
  .search-product{
    padding: 0px 0rem;
    width: 100%;
  
  
  }
  .sm-small-screen-btn{
    padding: 0.4rem 3.4rem;
  }
  
}