* {
  box-sizing: border-box;
}

/* Style the body */
body {
  font-family: Arial;
  margin: 0;
}

.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #f1f1f1;
}

/* Main column */
.main {
  flex: 80%;
  background-color: white;
}


/* Footer */
.footer {
  text-align: center;
  background: #ddd;
}


.flex-item-left {
  flex: 50%;
}

.flex-item-right {
  flex: 50%;
}

.card-render-container{
  flex-wrap: wrap;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;

}

.action-bar-container{
  padding: 1rem;
  display: flex;
  background-color: #41464b;
}
.action-bar-container .flex-item-left {
  display: flex;
  justify-content: space-evenly;
}
.action-bar-container .flex-item-left .button-size{
  width: 80%;
}
.action-bar-container .flex-item-right .button-size{
  width: 80%;
}

.NoDataFound-container{
  padding: 13%;
  background-color: #efefef;
  border-radius: 5px;
}




/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

  .action-bar-container{
    flex-direction: column-reverse;

  }

.card-render-container{
  padding: 0px 20px;
  

}
  .flex-item-right, .flex-item-left {
    flex: 100%;
  }

  .action-bar-container .flex-item-left .button-size{
    width: 100%;
  }
  .action-bar-container .flex-item-right .button-size{
    width: 100%;
  }

}
