
.product-details-container{
        background-color: whitesmoke;
    padding: 1rem 10rem;
  
}
.product-details-card{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
 
}
.product-details-image-container{

  
}

.product-details-image{
    object-fit: cover;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: 12px;
    filter: unset;
    width: 50%;
    height: 25rem;
    transition: opacity .25s, transform .25s;
    transform: none;
}

.simmilar-products{
    /* background-color: #ffff; */
    display: flex;
    flex-wrap: wrap;

}