
.product-details-container{
        background-color: whitesmoke;
    padding: 1rem 10rem;
  
}
.product-details-card{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
 
}
.product-details-image-container{

  
}

.product-details-image{
    object-fit: cover;
    opacity: 1;
    will-change: transform, opacity;
    border-radius: inherit;
    filter: unset;
    width: 100%;
    height: 25rem;
    transform: none;
    transition: opacity 0.25s ease 0s, transform 0.25s ease 0s;
}

.simmilar-products{
    background-color: #ffff;
    display: flex;
    flex-wrap: wrap;

}